{
    "##": "This file is a template. Fill the blanks and add or remove fields as necessary.",
    "version": "",
    "description": "",
    "homepage": "",
    "license": "",
    "notes": "",
    "depends": "",
    "suggest": "",
    "architecture": {
        "64bit": {
            "url": "",
            "hash": ""
        },
        "32bit": {
            "url": "",
            "hash": ""
        },
        "arm64": {
            "url": "",
            "hash": ""
        }
    },
    "extract_dir": "",
    "extract_to": "",
    "pre_install": "",
    "installer": {
        "script": ""
    },
    "post_install": [
        "",
        ""
    ],
    "pre_uninstall": "",
    "uninstaller": {
        "script": ""
    },
    "post_uninstall": [
        "",
        ""
    ],
    "bin": "",
    "shortcuts": "",
    "env_add_path": [
        "",
        ""
    ],
    "env_set": {
        "a": "b",
        "x": "y"
    },
    "persist": [
        "",
        ""
    ],
    "checkver": {
        "url": "",
        "regex": ""
    },
    "autoupdate": {
        "architecture": {
            "64bit": {
                "url": ""
            },
            "32bit": {
                "url": ""
            },
            "arm64": {
                "url": ""
            }
        },
        "hash": {
            "url": "",
            "regex": ""
        }
    }
}
